<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <p class='service-explain'>
      お酒とおつまみのVeinding
    </p>
    <p class='service-explain'>
      カテゴリーごとに厳選された9品の中から
    </p>
    <div class='nav-search'>
      <p class='service-explain'>
        お好みをchoice
      </p>
      <p class='service-last-explain'>
        <h1 > 
        商品検索
          <%= search_form_for @i, url:  search_items_path do |f| %>
            <%= f.label :category_eq, 'お酒' %>
            <br><%= f.collection_select :category_eq, @item_category, :category, :category,  include_blank: '指定なし' %>
            <button class="search-button">
              <%= image_tag "search.png", class:"search-icon" %>
            </button>
          <% end %>
          <%= search_form_for @i, url:  search_items_path do |f| %>
            <%= f.label :category_eq, 'おつまみ' %>
            <br><%= f.collection_select :category_eq, @item_category, :category, :category,  include_blank: '指定なし' %>
            <button class="search-button">
              <%= image_tag "search.png", class:"search-icon" %>
            </button>
          <% end %>
        </h1>
      </p>
    </div>
    <div class='nav'>
      <ul class='lists-signlog'>
      <% if user_signed_in? %>
        <li><%= link_to "#{ current_user.nickname } 様", user_session_path, class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
    </div>
  </div>
  
  <div class='select-reason-contents'>
    <h2 class='title'>
    <%= link_to image_tag("list-logo.png", class:"reason-btn"), "#" %>
      VendingChoicesについて
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("clock-10.png", class:"reason-btn"), "#" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-main-text'>毎日10時商品が更新</span> 
        </h3>
        <p class='reason-list-description'>
          当社コンシェルジュが厳選した10点に、毎日更新してお待ちしております
        </p>
      </li>
      <li class='list'>
        <%= link_to image_tag("click.png", class:"reason-btn"), "#" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-main-text'>シンプルに選ぶだけ</span> 
        </h3>
        <p class='reason-list-description'>
          検索はなく、お好きなカテゴリーの10点の中からお選びください
        </p>
      </li>
      <li class='list'>
        <%= link_to image_tag("haitatu-track.png", class:"reason-btn"), "#" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-main-text'>最短翌日配送</span> 
        </h3>
        <p class='reason-list-description'>
          <span style="color:#AA0000;" >当日17時まで</span>にご購入されました商品は、当日発送いたします
        </p>
      </li>
    </ul>
  </div>


 
<%= render "shared/footer" %>